<table>

  <tr>
    <td><label><b>Owner Name</b></label></td>

    <td><%= @shop.owner_name %></td>
  </tr>
      <tr>
    <td><label><b>Type</b></label></td>

    <td><%= @shop.shop_type %></td>
  </tr>

    <tr>
    <td><label><b>Address</b></label></td>

    <td><%= @shop.address %></td>
  </tr>
  <tr>
    <td><label><b>Email id</b></label></td>

    <td><%= @shop.email_id %></td>
  </tr>
  
</table>
